# 示例配置
APP_HOST=0.0.0.0
APP_PORT=3000

# 以下必填

# 阿里云ACCESS_KEY
ALIBABA_CLOUD_ACCESS_KEY_ID=abc
ALIBABA_CLOUD_ACCESS_KEY_SECRET=def

# DB
DATABASE=db
DB_USER=abc
DB_PASSWORD=1234
DB_HOST=0.0.0.0
DB_PORT=3333

# 快递服务
EXPRESS_APP_ID=rwqrw
EXPRESS_API_KEY=E0242

# 加密
PRIVATE_KEY_PATH=./private.pem
PASSPHRASE=f89b772ab12e89ee6b09d0397a75bae000fc2df89839e412da721ecba144e556
